/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');


* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .img {
  position: relative;
  display: block;
  top: 5px;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;   
}

.navigation ul li a .img img {
  width: 100%;
  height: 100%;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
  margin-top: 70px;
}

#sub_hide {
  position: relative;
  margin-top: 20px;
  visibility: hidden;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}


.user ion-icon {
  position: absolute;
  top: 5px;
  left: 0px;
  font-size: 2rem;
}


/* ================== UPLOAD ============== */
.details {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 60px;
}

/* ================== BOX============== */
.details .upload{
  position: relative;
  min-height: 500px;
  margin-top: -10px;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgb(206, 206, 206);
  border-radius: 30px;
}

.details .cardHeader {
  margin-top: -60px;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {

  color: var(--blue);
  font-family: "Sedan SC", serif;
  font-size: 2rem;
  
}

.details .upload img {
  position: relative;
  display: block;
  height: 20%;
  top: 200px;
  left: 70px;
 
}

#user1 {
  position: relative;
  display: block;
  height: 20%;
  top: -315px;
  left: 250px;

}

/* ================== ADMIN/USER  TEXT============== */

.first{
  position: relative;
  width: 150px;
  height: 50px;
  top: -745px;
  left: 85px;
  background-color: #2a2185;
  border-radius: 30px;
}

.first .header h2{
  position: relative;
  font-size: 2rem;
  left: 19px;
  top: 6px;
  font-weight: 100px;
  z-index: 1;
  color: #fff;
}

.second{
  position: relative;
  width: 150px;
  height: 50px;
  top: -795px;
  left: 265px;
  background-color: #2a2185;
  border-radius: 30px;
}
.second .header2 h2{
  position: relative;
  font-size: 2rem;
  top: 6px;
  left: 33px;
  color: #fff;
  font-weight: 100px;
  z-index: 1;
}

.box{
  position: relative;
  top: -980px;
  left: 520px;
  border-spacing: 10px 10px;
  border: 2px solid;
  width: 50%;

  
}

tr{
  background-color: #2a2185;
  border-collapse: separate;

}
 th{
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  font-weight: 100px;
  height: 40px;

  
}
td{
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100px;
  background-color: #fff;
}

/* ================== ADD USER ============== */

.details .info2{
  position: relative;
  top: -400px;
  left: 250px;
  background-color: #2a2185;
  border-radius: 30px;
  width: 600px;
  height: 50px;


}

.details .info2 .name h2{
  position: relative;
  font-size: 1.5rem;
  margin-left: 19px;
  top: 11px;
  font-weight: 100px;
  z-index: 1;
  color:white; 
  
  
}

.details .info3{
  position: relative;
  top: -375px;
  left: 250px;
  background-color: #2a2185;
  border-radius: 30px;
  width: 600px;
  height: 50px;
}

.details .info3 .username h2{
  position: relative;
  font-size: 1.5rem;
  left: 19px;
  top: 11px;
  font-weight: 100px;
  z-index: 1;
  color:white; 
}

.details .info4{
  position: relative;
  top: -350px;
  left: 250px;
  background-color: #2a2185;
  border-radius: 30px;
  width: 600px;
  height: 50px;
}

.details .info4 .pass h2{
  position: relative;
  font-size: 1.5rem;
  left: 19px;
  top: 11px;
  font-weight: 100px;
  z-index: 1;
  color:white; 
}

.details .info5{
  position: relative;
  top: -270px;
  left: 450px;
  background-color: #2a2185;
  border-radius: 30px;
  width: 200px;
  height: 60px;
}

.details .info5 .save h2{
  position: relative;
  font-size: 1.5rem;
  left: 67px;
  top: 15px;
  font-weight: 100px;
  z-index: 1;
  color:white; 
}




/* ================== SLIDER ============== */







/* ================== STATUS ============== */
.status.delivered {
  color: var(--black1);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.status.pending {
  color: var(--black1);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.status.return {
  color: var(--black1);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.status.inProgress {
  color: var(--black1);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}

#sub_hide {
  position: relative;
  margin-top: 20px;
  visibility: hidden;
}